<h1><%= @user.id ?  'Edit User' : 'Add User' %></h1>
<%= form_for @user.id ? User.find(params[:id]) : @user do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <%= f.submit %>
<% end %>