<h1><%= @course.id ?  'Edit Course' : 'Add Course' %></h1>
<%= form_for @course.id ? Course.find(params[:id]) : @course do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <%= f.submit %>
<% end %>